{% extends 'base.html' %}
{% block content %}

<h1>VINYL DETAIL</h1>

<div class="row">
    <div class="col s6">
        <div class="card grey darken-4">
            <div class="card-content teal-text text-lighten-4">
                <span class="card-title">{{ vinyl.name }}</span>
                <p>GENRE: {{ vinyl.genre }}</p>
                <p>DESCRIPTION: {{ vinyl.description }}</p>
                {% if vinyl.r_date < 2000 %}
                    <p>RELEASE: {{ vinyl.r_date }}</p>
                {% else %}
                    <p>RELEASE: New</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'vinyls_update' vinyl.id %}">EDIT</a>
                <a href="{% url 'vinyls_delete' vinyl.id %}">DELETE</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_listening' vinyl.id %}" method="post"> 
            {% csrf_token %}
            {{ listening_form.as_p }}
            <input type="submit" class="btn black" value="ADD LISTENING">
        </form>
        <table class="striped">
            <thead>
                <tr><th>Date</th><th>Extent</th></tr>
            </thead>
            <tbody>
                {% for listening in vinyl.listening_set.all %}
                    <tr>
                        <td>{{listening.date}}</td>
                        <td>{{listening.get_extent_display}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ vinyl.name }}'s Contributors</h3>
    {% if vinyl.contributors.count %}
      {% for contributor in vinyl.contributors.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
                {{ contributor.artist}}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No contributors :(</h5>
    {% endif %}
  </div>
    <div class="col s6">
        <h3>Available Contributors</h3>
        {% if contributors.count %}
        {% for contributor in contributors.all %}
        <div class="card grey darken-4 teal-text text-lighten-4">
            <div class="card-content">
                <span class="card-title">
                    {{ contributor.artist }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_contributor' vinyl.id contributor.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn amber">ADD</button>
                </form>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h5>{{vinyl.name}} Already Has All Contributors Available</h5>
    {% endif %}
    </div>

</div>

<script>
    let dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true, 
        autoClose: true
    });

    let selectEl = document.getElementById('id_extent');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}
