{% extends 'base.html' %}

{% block content %}
<h1 class="amber-text">ABOUT VINYL COLLECTOR</h1>
<hr />
<p>If you collect vinyls this is the website for you! As a user you will be able to input all of your vinyls into your own collection list. You can also add the contributors (artists, producers, musicians, etc.) to each vinyl if you so choose. One feature to highlight is the ability to record and remember each time you listened to the vinyl. Hopefully this causes listeners to listen to albums all the way through more.</p>
{% endblock %}
